datasets/UNI2_panda_encodings_by_patch/
mri_data/images/
mri_data/nnUNet_raw_data/
mri_data/picai_labels/
mri_model/baseline_weights_gland_seg/
mri_model/picai_baseline/
_mri_results/

histopathology_model/MIL-Lab/results/
histopathology_data/UNI2_panda_encodings_by_patch/
histopathology_results/

mri_embeddings/
mri_model/baseline_weights_gland_seg/
mri_model_medsam/frozen_medsam_results/

mri_model_medsam_finetune/work_dir/MedSAM/medsam_vit_b.pth
venv/
*.pth
*.pyc
*.pt

pca_env

mri_model_medsam_finetune_2D/LATEST/debug.sh
mri_model_medsam_finetune_2D/LATEST/results_isup3_ob
wandb
mri_model_medsam_finetune_2D/LATEST/results_isup3/
mri_model_medsam_finetune_2D/LATEST/submit_ob.sbatch
